@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

/* =========================
   Tanklager
   ========================= */
@font-face {
    font-family: "Tanklager";
    src: url("../assets/fonts/TanklagerVF.woff2") format("woff2");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

/* =========================
   Victor Mono – Regular
   ========================= */
@font-face {
    font-family: "Victor Mono";
    src: url("../assets/fonts/VictorMono/VictorMono-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Victor Mono";
    src: url("../assets/fonts/VictorMono/VictorMono-Italic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Victor Mono";
    src: url("../assets/fonts/VictorMono/VictorMono-Oblique.woff2") format("woff2");
    font-weight: 400;
    font-style: oblique;
    font-display: swap;
}

/* =========================
   Victor Mono – Thin (100)
   ========================= */
@font-face {
    font-family: "Victor Mono";
    src: url("../assets/fonts/VictorMono/VictorMono-Thin.woff2") format("woff2");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Victor Mono";
    src: url("../assets/fonts/VictorMono/VictorMono-ThinItalic.woff2") format("woff2");
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Victor Mono";
    src: url("../assets/fonts/VictorMono/VictorMono-ThinOblique.woff2") format("woff2");
    font-weight: 100;
    font-style: oblique;
    font-display: swap;
}

/* =========================
   Victor Mono – ExtraLight (200)
   ========================= */
@font-face {
    font-family: "Victor Mono";
    src: url("../assets/fonts/VictorMono/VictorMono-ExtraLight.woff2") format("woff2");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Victor Mono";
    src: url("../assets/fonts/VictorMono/VictorMono-ExtraLightItalic.woff2") format("woff2");
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Victor Mono";
    src: url("../assets/fonts/VictorMono/VictorMono-ExtraLightOblique.woff2") format("woff2");
    font-weight: 200;
    font-style: oblique;
    font-display: swap;
}

/* =========================
   Victor Mono – Light (300)
   ========================= */
@font-face {
    font-family: "Victor Mono";
    src: url("../assets/fonts/VictorMono/VictorMono-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Victor Mono";
    src: url("../assets/fonts/VictorMono/VictorMono-LightItalic.woff2") format("woff2");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Victor Mono";
    src: url("../assets/fonts/VictorMono/VictorMono-LightOblique.woff2") format("woff2");
    font-weight: 300;
    font-style: oblique;
    font-display: swap;
}

/* =========================
   Victor Mono – Medium (500)
   ========================= */
@font-face {
    font-family: "Victor Mono";
    src: url("../assets/fonts/VictorMono/VictorMono-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Victor Mono";
    src: url("../assets/fonts/VictorMono/VictorMono-MediumItalic.woff2") format("woff2");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Victor Mono";
    src: url("../assets/fonts/VictorMono/VictorMono-MediumOblique.woff2") format("woff2");
    font-weight: 500;
    font-style: oblique;
    font-display: swap;
}

/* =========================
   Victor Mono – SemiBold (600)
   ========================= */
@font-face {
    font-family: "Victor Mono";
    src: url("../assets/fonts/VictorMono/VictorMono-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Victor Mono";
    src: url("../assets/fonts/VictorMono/VictorMono-SemiBoldItalic.woff2") format("woff2");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Victor Mono";
    src: url("../assets/fonts/VictorMono/VictorMono-SemiBoldOblique.woff2") format("woff2");
    font-weight: 600;
    font-style: oblique;
    font-display: swap;
}

/* =========================
   Victor Mono – Bold (700)
   ========================= */
@font-face {
    font-family: "Victor Mono";
    src: url("../assets/fonts/VictorMono/VictorMono-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Victor Mono";
    src: url("../assets/fonts/VictorMono/VictorMono-BoldItalic.woff2") format("woff2");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Victor Mono";
    src: url("../assets/fonts/VictorMono/VictorMono-BoldOblique.woff2") format("woff2");
    font-weight: 700;
    font-style: oblique;
    font-display: swap;
}

:root {
    --background: oklch(93.88% 0.033 300.19);
    --secondary-background: oklch(100% 0 0);
    --foreground: oklch(0% 0 0);
    --main-foreground: oklch(0% 0 0);
    --main: oklch(70.28% 0.1753 295.36);
    --border: oklch(0% 0 0);
    --ring: oklch(0% 0 0);
    --overlay: oklch(0% 0 0 / 0.8);
    --shadow: 4px 4px 0px 0px var(--border);
    --chart-1: #a985ff;
    --chart-2: #00d696;
    --chart-3: #facc00;
    --chart-4: #ff4d50;
    --chart-5: #0099ff;
    --chart-active-dot: #000;
}

.dark {
    --background: oklch(30.14% 0.0826 296.5);
    --secondary-background: oklch(23.93% 0 0);
    --foreground: oklch(92.49% 0 0);
    --main-foreground: oklch(0% 0 0);
    --main: oklch(70.28% 0.1753 295.36);
    --border: oklch(0% 0 0);
    --ring: oklch(100% 0 0);
    --shadow: 4px 4px 0px 0px var(--border);
    --chart-1: #a985ff;
    --chart-2: #00bd84;
    --chart-3: #e0b700;
    --chart-4: #ff6669;
    --chart-5: #008ae5;
    --chart-active-dot: #fff;
}

@theme inline {
    --color-main: var(--main);
    --color-background: var(--background);
    --color-secondary-background: var(--secondary-background);
    --color-foreground: var(--foreground);
    --color-main-foreground: var(--main-foreground);
    --color-border: var(--border);
    --color-overlay: var(--overlay);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);

    --spacing-boxShadowX: 4px;
    --spacing-boxShadowY: 4px;
    --spacing-reverseBoxShadowX: -4px;
    --spacing-reverseBoxShadowY: -4px;
    --radius-base: 5px;
    --shadow-shadow: var(--shadow);
    --font-weight-base: 500;
    --font-weight-heading: 800;
}

@theme {
    --font-sans: "Arimo", "Roboto", "Inter", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
    body {
        @apply text-foreground font-base bg-background;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-heading;
    }
}

@layer utilities {
    .font-pokemon {
        font-family: "Victor Mono", ui-monospace, monospace;
    }

    .font-tanklager {
        font-family: "Tanklager";
    }
}
